<footer>
    <section class="footer-content">
        <div class="email-list">
            <h6>Subscribe to my zine</h6>
            <p>Digital musings, direct to your inbox.</p>
            <form
                action="https://buttondown.email/api/emails/embed-subscribe/lanyard"
                method="post"
                target="popupwindow"
                onsubmit="window.open('https://buttondown.email/lanyard', 'popupwindow')"
                class="embeddable-buttondown-form"
            >
                <input type="email" name="email" id="bd-email" placeholder="Your email address" required>
                <input type="hidden" value="1" name="embed"></input>
                <input type="submit" value="Subscribe" class="button"></input>
            </form>
        </div>
        <div class="rule"></div>
        <div class="ext-links">
            <ul class="footer-nav">
                
                <li><a href="/">Work</a></li> 
                <!-- <li><a href="#">Resources</a></li> -->
                <li><a href="/about.html">About</a></li>
                <li><a href="/contact.html">Contact</a></li>
            </ul>
            <div class="rule"></div>
            <div class="social">
            <a href="https://dribbble.com/peterlundblad" target="_blank">
                <img src="/assets/images/icon-dribbble.svg" alt="logo for Dribbble.com">
            </a>
            <a href="https://www.instagram.com/peterlundblad/" target="_blank">
                <img src="/assets/images/icon-instagram.svg" alt="logo for Instagram">
            </a>
            <a href="https://www.linkedin.com/in/peterlundblad/" target="_blank">
                <img src="/assets/images/icon-linkedin.svg" alt="logo for Linkedin">
            </a>
            <a href="https://github.com/peterlundblad/" target="_blank">
                <img src="/assets/images/icon-github1.svg" alt="logo for GitHub">
                </a>
            </div>
        </div>
    </section>
        <p id="copyright">
            <script>
                const currentYear = new Date().getFullYear();
                document.getElementById("copyright").textContent = `© ${currentYear}`;
            </script>
            PCL. All Rights Reserved. <span>Made in SF, CA.</span>
        </p>
</footer>

<script src="/assets/scripts/jquery.js"></script>
<script src="/assets/scripts/main.js"></script>
<script src="/assets/scripts/observer.js"></script>