<header>   
    <div class="container upper-nav">
        <section class="logo">
            <a href="/">
                <img src="/assets/images/LS-logomark-white.svg" alt="Lundblad Studios Logomark">
            </a>
            <h2>{{ site.title }}</h2>
        </section>
    
        <nav>
            <a href="/" {% if page.url == "/" %} class="selected" {% endif %} >Work</a>
            <a href="/about/" {% if page.url == "/about/" %} class="selected" {% endif %}>About</a>
            <a href="/contact/" {% if page.url == "/contact/" %} class="selected" {% endif %}>Contact</a>

        </nav>
    </div>
</header>