<div class="row"> 
    <div class="column">
      <img src="/assets/images/IMG_0771.jpg">
      <img src="/assets/images/IMG_0302.jpg">
      <img src="/assets/images/IMG_0617.jpg">
      <img src="/assets/images/IMG_0412.jpg">
      <img src="/assets/images/IMG_0449.jpg">
      <img src="/assets/images/IMG_0500.jpg">
      <img src="/assets/images/IMG_0933.jpg">
    </div>
    <div class="column">
        <img src="/assets/images/7Z2A2764.jpg">
        <img src="/assets/images/IMG_0351-Edit-2.jpg">
        <img src="/assets/images/IMG_0505.jpg">
        <img src="/assets/images/IMG_0947.jpg">
        <img src="/assets/images/IMG_0904.jpg">
        <img src="/assets/images/IMG_0037.jpg">
        <img src="/assets/images/IMG_1399.jpg">
    </div>  
    <div class="column">
        <img src="/assets/images/IMG_0833.jpg">
        <img src="/assets/images/IMG_0900.jpg">
        <img src="/assets/images/IMG_0371.jpg">
        <img src="/assets/images/IMG_0302.jpg">
        <img src="/assets/images/IMG_1066.jpg">
        <img src="/assets/images/IMG_0308.jpg">
        <img src="/assets/images/IMG_0505.jpg">
        
    </div>
    <div class="column">
        <img src="/assets/images/IMG_1399.jpg">
        <img src="/assets/images/IMG_0904.jpg">
        <img src="/assets/images/IMG_0484.jpg">
        <img src="/assets/images/IMG_0674.jpg">
        <img src="/assets/images/IMG_0699.jpg">
        <img src="/assets/images/IMG_0302.jpg">
        <img src="/assets/images/IMG_0594.jpg">
        
    </div>
  </div>