<div class="row"> 
    <div class="column">
      <img src="/assets/images/IMG_2731.jpg" alt="portrait of a lady in white wedding dress">
      <img src="/assets/images/IMG_2381.jpg" alt="three women in white dresses in front of a blue car" loading="lazy">
      <img src="/assets/images/IMG_0617.jpg" alt="a field of sunflowers with dramatic clouds above" loading="lazy">
      <img src="/assets/images/IMG_3189.jpg" alt="portrait of lady in white wedding dress" loading="lazy">
      <img src="/assets/images/IMG_0449.jpg" alt="portrait of a bride with a sunflower bouquet" loading="lazy">
      <img src="/assets/images/IMG_0500.jpg" alt="a woman with sunglasses and red lipstick" loading="lazy">
      <img src="/assets/images/IMG_0933.jpg" alt="a sunflower field in france" loading="lazy">
    </div>

   
    <div class="column">
        <img src="/assets/images/20140412-IMG_3967.jpg"  alt="a young couple kissing under an oak tree" loading="lazy">
        <img src="/assets/images/IMG_3838.jpg" alt="three women standing in a windowsill" loading="lazy">
        <img src="/assets/images/image-asset-1.jpeg" alt="a bride in a white dress" loading="lazy">
        <img src="/assets/images/image-asset-2.jpeg" alt="a macro shot of wedding rings and leaf" loading="lazy">
        <img src="/assets/images/IMG_0947.jpg" alt="a sunflower growing in a field" loading="lazy">
        <img src="/assets/images/IMG_0037.jpg" alt="a young woman sitting by the river Seine" loading="lazy">
        <img src="/assets/images/image-asset-3.jpeg" alt="a bride and groom posing under a tree" loading="lazy">
    </div>  
    <div class="column">
        <img src="/assets/images/IMG_1399.jpg" alt="a medieval skyline showing a cathedral and red roofs" loading="lazy">
        <img src="/assets/images/IMG_1778.jpg" alt="a classic old car in an old village" loading="lazy">
        <img src="/assets/images/IMG_0371.jpg" alt="two women carrying a basket full of produce" loading="lazy">
        <img src="/assets/images/IMG_0302.jpg" alt="rolled hay bails in the french countryside" loading="lazy">
        <img src="/assets/images/IMG_1066.jpg" alt="a women at dusk singing in a small european village" loading="lazy">
        <img src="/assets/images/IMG_2191.jpg" alt="three women in white dresses in an old cathedral" loading="lazy">
        <img src="/assets/images/IMG_0308.jpg" alt="a corn growing in a field" loading="lazy">
        
        
    </div>
    <div class="column">
        <img src="/assets/images/IMG_3608.jpg" alt="a portrait of a bride out on an upper terrace" loading="lazy">
        <img src="/assets/images/IMG_0904.jpg" alt="a vibrant photograph of sunflowers" loading="lazy">
        <img src="/assets/images/IMG_0484.jpg" alt="a woman exploring a medieval city" loading="lazy">
        <img src="/assets/images/IMG_0412.jpg" alt="a rustic fence in the coutryside" loading="lazy">
        <img src="/assets/images/IMG_0699.jpg" alt="two fields with dramatic storm clouds in the distance" loading="lazy">
        <img src="/assets/images/IMG_4222.jpg" alt="a bride and groom in Presidio Park" loading="lazy">
        <img src="/assets/images/image-asset-7.jpeg" alt="white wedding cake with floral elements" loading="lazy">
        
    </div>
  </div>