<div class="row"> 
    <div class="column">
      <!-- <img src="/assets/images/blank.webp" alt="portrait of a lady in white wedding dress" data-echo="/assets/images/IMG_2731.webp"> -->
      <img src="/assets/images/home/IMG_2731.webp" alt="portrait of a lady in white wedding dress" loading="eager">
      <img src="/assets/images/home/20140412-IMG_3967.webp"  alt="a young couple kissing under an oak tree" loading="eager">
      <img src="/assets/images/home/0260-2880x1920.webp" alt="a group of bridesmaids with bright bouquets" loading="eager">
      <img src="/assets/images/home/IMG_3189.webp" alt="portrait of lady in white wedding dress" loading="eager">
      <img src="/assets/images/home/IMG_4241.webp" alt="a groom and bride standing on a trail" loading="lazy">
      <img src="/assets/images/home/cardB-224.webp" alt="closeup of a bride holding a bouquet" loading="lazy">
      <img src="/assets/images/home/IMG_9821.webp" alt="an ornate stone sculpture of two people" loading="lazy">
      <img src="/assets/images/home/wes-nina-eng-028.webp" alt="portrait of two lovers" loading="lazy">
      <img src="/assets/images/home/IMG_4217.webp" alt="portrait of a bride and groom walking on grass" loading="lazy">

      
    </div>

   
    <div class="column">
        <img src="/assets/images/home/IMG_2381.webp" alt="three women in white dresses in front of a blue car" loading="eager">
        <img src="/assets/images/home/IMG_3838.webp" alt="three women standing in a windowsill" loading="eager">
        <img src="/assets/images/home/image-asset-1.webp" alt="a bride in a white dress" loading="lazy">
        <img src="/assets/images/home/IMG_3151.webp" alt="a lady in white standing in a sunflower field" loading="lazy">
        <img src="/assets/images/home/IMG_7701.webp" alt="a bride and groom outside standing on a lawn" loading="lazy">
        <img src="/assets/images/home/image-asset-2.webp" alt="a macro shot of wedding rings and leaf" loading="lazy">
        <img src="/assets/images/home/image-asset-3.webp" alt="a bride and groom posing under a tree" loading="lazy">
        <img src="/assets/images/home/7Z2A0045.webp" alt="a groom and his son smiling" loading="lazy">
        <img src="/assets/images/home/cardA-230.webp" alt="a happy couple sitting in the forest" loading="lazy">




    </div>  
    <div class="column">
        <img src="/assets/images/home/IMG_3608.webp" alt="a portrait of a bride out on an upper terrace" loading="eager">
        <img src="/assets/images/home/IMG_1778.webp" alt="a classic old car in an old village" loading="eager">
        <img src="/assets/images/home/0664-bw.webp" alt="a monochrome image of a bride and groom embracing" loading="lazy">
        <img src="/assets/images/home/cardB-m-m-588.webp" alt="a monochrome image of a bride and groom embracing" loading="lazy">
        <img src="/assets/images/home/IMG_2191.webp" alt="three women in white dresses in an old cathedral" loading="lazy">
        <img src="/assets/images/home/wes-nina-eng-154.webp" alt="a couple lying together in the tall grass" loading="lazy">
        <img src="/assets/images/home/cardB-317.webp" alt="a wedding party dancing with motion blur" loading="lazy">
        <img src="/assets/images/home/wes-nina-eng-096.webp" alt="a young couple happily running together at sunset" loading="lazy">    
        <img src="/assets/images/home/IMG_1066.webp" alt="a women at dusk singing in a small european village" loading="lazy">
        
        
    </div>
    <div class="column">
        <img src="/assets/images/home/IMG_1399.webp" alt="a medieval skyline showing a cathedral and red roofs" loading="eager">
        <img src="/assets/images/home/IMG_0904.webp" alt="a vibrant photograph of sunflowers" loading="eager">
        <img src="/assets/images/home/20140614-IMG_4843.webp" alt="a groom embracing a bride" loading="lazy">
        <img src="/assets/images/home/IMG_7689.webp" alt="a closeup of a bridal bouquet with white and yellow flowers" loading="lazy">
        <img src="/assets/images/home/image-asset-5.webp" alt="a couple standing in the countryside" loading="lazy">
        <img src="/assets/images/home/image-asset-7.webp" alt="white wedding cake with floral elements" loading="lazy">
        <img src="/assets/images/home/IMG_4134.webp" alt="a portrait of a bride on green grass" loading="lazy">
        <img src="/assets/images/home/image-asset-6.webp" alt="a bride and groom kissing for the first time" loading="lazy">
        <img src="/assets/images/home/IMG_7846.webp" alt="a monochrome image of a couple kissing in a field" loading="lazy">

        
    </div>
  </div>